nav {
    z-index: 1000;
}

body {
    background-color: #ddd;
}

#xwrapper {
    border: 3px solid #999;
    margin: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 5px #999;
    border-radius: 10px;
}

#xheader {
    border: 2px solid #ddd;
    height: 130px;
    background-color: white;
    border-radius: 10px;
}

#xmenu {
    height: 24px;
    margin-bottom: 20px;
}

#xbody {
    border: 0px solid yellow;
    min-height: 500px;
    padding: 10px;
}

#xfooter {
    border: 2px solid #ddd;
    background-color: #ddd;
    height: 24px;
}