#xwrapper {
    border: 2px solid #ddd;
    margin: 20px;
}

#xheader {
    border: 2px solid #ddd;
    height: 100px;
}

#xmenu {
    height: 24px;
    margin-bottom: 20px;
}

#xbody {
    border: 0px solid yellow;
    min-height: 500px;
    padding: 10px;
}

#xfooter {
    border: 2px solid #ddd;
    background-color: #ddd;
    height: 24px;
}